<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile
                name="RollingFile"
                fileName="logs/application.log"
                filePattern="logs/application.%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <!-- see https://howtodoinjava.com/log4j2/useful-conversion-pattern-examples/ -->
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%-6p] %c{1} - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB" />
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="logs" maxDepth="2">
                    <IfFileName glob="*/app-*.log.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS}  %c{1} - %msg%n" />
            <!-- PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" / -->
        </Console>

    </Appenders>
    <Loggers>
        <Logger name="com.pluralsight.frontdesk" level="debug" additivity="false">
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="Console" />
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>